.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

@media(min-width: 400px) {
  .container {
    max-width:400px
  }
}

@media(min-width: 540px) {
  .container {
    max-width:540px
  }
}

@media(min-width: 720px) {
  .container {
    max-width:720px
  }
}

@media(min-width: 960px) {
  .container {
    max-width:960px
  }
  .custom-nav {
    position: unset;
    margin-top: unset;
    background: unset;
    border-radius: unset;
  }
}

@media (min-width: 1024px) {
  .custom-nav2 {
    position: unset;
    margin-top: unset;
    background: unset;
    border-radius: unset;
  }
  .custom-sidebar {
    margin-left: unset;
    z-index: unset;
  }
}

@media(min-width: 1140px) {
  .container {
    max-width:1140px
  }
}

@media(min-width: 1320px) {
  .container {
    max-width:1320px
  }
}

.bg-custom-btn-gradient {
  background: linear-gradient(82deg, #313860 2.25%, #151928 79.87%);
}

.nav-customize{
  border: 1.5px solid #FFF;
  background: linear-gradient(113deg, rgba(255, 255, 255, 0.82) 0%, rgba(255, 255, 255, 0.80) 110.84%);
  box-shadow: 0px 7px 23px 0px rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(10.500000953674316px);
}

.w-octopus-icon{
  position: fixed;
  margin-left: 18%;
  width: 24%;
  margin-right: 100%;
  top: -58px;
}
